interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://api.nsls2.bnl.gov/v1/facility/nsls2/cycles/current
    response:
      body:
        string: '{"facility": "nsls2","cycle": "2024-2"}'
      headers:
        content-type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://api.nsls2.bnl.gov/v1/data_session/ftouden
    response:
      body:
        string: '{"facility_all_access": ["nsls2","lbms"],"beamline_all_access": [],"data_sessions": ["pass-56789"]}'
      headers:
        content-type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: https://api.nsls2.bnl.gov/v1/proposal/56789
    response:
      body:
        string: '{ "proposal": { "_id": "5eb7cf5a86d9755df3a6c593", "proposal_id": "56789", "data_session": "pass-56789", "title": "Decypher mysterious door", "type": "Exploration", "pass_type_id": "Generic", "instruments": [ "Dectris Ambrosia", "Toyama Kensuke"], "cycles": ["2024-2"], "users": [ "ftouden", "mdonato", "ltouden", "ctims", "sizganda" ], "safs": [], "created_on": "2024-06-25T18:03:06.692Z", "last_updated": "2024-06-25T18:03:06.692Z"}}'
      headers:
        content-type:
          - application/json
      status:
        code: 200
        message: OK
version: 1